.movie-card {
    -webkit-box-shadow: -1px -1px 2px 0.5px rgba(255, 255, 255, 0.15);
    box-shadow: -1px -1px 2px 0.5px rgba(255, 255, 255, 0.15);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.25rem;

    &_img {
        max-width: 100%;
        // &[src*='N/A'] {
        //     content: url('');
        // }
    }
    &_details {
        background-color: var(--black);
        color: var(--white);
        display: flex;
        font-size: 0.8rem;
        min-height: 135px;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.5rem;
        &_info {
            &_title {
                font-size: 1rem;
            }
            &_year {
                color: lightgrey;
                font-weight: bold;
                font-style: italic;
                margin: 0.25rem 0px;
            }
        }
        &_nominate-btn {
            background-color: var(--black-light);
            border: 1px solid var(--primary);
            border-radius: var(--border-radius-small);
            color: var(--primary);
            cursor: pointer;
            font-weight: bold;
            padding: 0.25rem 0.35rem;
            transition: all 0.25s ease-in-out;
            &:hover {
                background-color: var(--primary-light);
                color: var(--white);
            }
            &:disabled,
            &[disabled] {
                border: 1px solid #999999;
                background-color: var(--black-light);
                color: #999999;
                cursor: default;
            }
        }
    }
}
