* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #0081a9;
    --plum: #bd2a7a;

    --primary: #8d5f07;
    --primary-light: #bf9d28;
    --primary-light-grey: #b7a99a;
    --secondary: var(--blue);
    --tertiary: var(--plum);

    --white: whitesmoke;
    --black: rgb(30, 30, 30);
    --black-dark: rgb(12, 12, 12);
    --black-light: rgb(44, 44, 44);

    --border-radius: 1rem;
    --border-radius-small: 0.5rem;
    --navbar-height: 6rem;
}

body {
    background-color: var(--black-dark);
    font-size: 62.5%;
    width: 100%;
    height: 100%;

    font-family: 'Open Sans', sans-serif;
}
