:root {
    --blue: #0081a9;
    --plum: #bd2a7a;

    --primary: #8d5f07;
    --primary-light: #bf9d28;
    --primary-light-grey: #b7a99a;
    --secondary: var(--blue);
    --tertiary: var(--plum);

    --primary-text: whitesmoke;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
